@model List<Web_11050.Models.Domain.Employee>

@{
}
<h1>Books</h1>
<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>Price</th>
			<th>Name_Authour</th>
			<th></th>
		</tr>
	</thead>
	<tbody>


	@foreach (var employee in Model){
			<tr>
	<td>@employee.Id</td>
	<td>@employee.Name</td>
		<td>@employee.Email</td>
			<td>@employee.Price</td>
				<td>@employee.Name_authour</td>
					<td><a href="Employees/View/@employee.Id">View</a></td>
					
</tr>
	}


</tbody>
</table>